---
import MainLayout from "../layouts/MainLayout.astro";
import AboutSection from "../components/AboutSection.astro";
---

<MainLayout
  title="About"
  description="Learn about Ardian - web developer and designer"
>
  <section class="section">
    <div class="container">
      <h1 class="section-title">About Me</h1>
      <AboutSection />
    </div>
  </section>
</MainLayout>
