---
import MainLayout from "../layouts/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
---

<MainLayout
  title="About"
  description="Learn about Ardian - web developer and designer"
>
  <section class="section about-section">
    <div class="container">
      <h1 class="section-title" data-text="About Me">About Me</h1>
      <div class="cyberpunk-content">
        <AboutSection />
      </div>
    </div>
  </section>
</MainLayout>
<link rel="stylesheet" href="/styles/global.css" />