---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Portfolio website by Ardian" } = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title} | Ardian's Portfolio</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body>
    <!-- Main Content -->
    <div class="site-container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
